*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    background: linear-gradient(#222831 42%, #393e46 );
}
.Navcontainer{
    width: 100vw;
    height: 14vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #222831;
    color: #dfd0b8;
    z-index: 1;
}
.Navcontainer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}
.Navcontainer li{
    padding-right: 40px;
    list-style: none;
}
.Navcontainer a{
    text-decoration: none;
    cursor: pointer;
    color: #dfd0b8;
    transition: .2s ease-in;
}
.Navcontainer a:hover{
    color: #948979;
}
.Navcontainer h2{
    transform: translate(28px, 34px);
    font-size: 28px;
    pointer-events: none;
}

/*---------- Section 1 ----------*/

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.introduction{
    width: 90vw;
    height: 450px;
    display: flex;
    align-items: center;
    margin-top: 65px;
    pointer-events: none;
}
.introduction img{
    border-radius: 50%;
    width: 330px;
    height: 330px;
    box-shadow: 8px 8px 33px;
}
.introcontainer{
    transform: translateX(100px);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.introcontainer .details{
    max-width: 850px;
    font-size: 17px;
    text-indent: 20px;
    margin-top: 18px;
    color: #948979;
}
.introcontainer h3{
    margin-top: 85px;
    font-size: 26px;
}
.introcontainer h1{
    transform: translateY(60px);
}
.jwd{
    margin-top: 8px;
    background: linear-gradient(to right,#393e46, #948979, #dfd0b8);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 1s linear infinite;
}
@keyframes animate-gradient{
    to{
        background-position: 200%;
    }
}
.objectives{
    width: 90vw;
    height: 40vh;
    border-radius: 13px;
    background-color: #dfd0b8;
}
.objectives h3{
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
}
.objective table{
    margin: auto;
    margin-top: 25px;
    border-collapse: collapse;
}
.objectives td{
    padding: 3px;
    font-size: 20px;
}
.objectives li{
    margin-top: 8px;
    max-width: 85vw;
    font-size: 18px;
    color: #393e46;
}